body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  header {
    background-color: #087230;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  .logo img{
    width: 30px;
  }

  nav {
    text-align: right;
    margin-left: 35%;
    font-size: 18px;
  }

  nav a {
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
  }
  nav a:hover{
    color: yellow;
  }

  .banner {
    text-align: center;
    padding: 50px;
    background-color: #f2f2f2;
    color: black;
  }
  .banner h1{
    text-align: left;
    color:rgb(0, 0, 231);
  }
  .banner p{
    text-align: center;
    font-weight: bolder ;
    font-size: 16px;
    color: blue;
    text-transform: uppercase ;
  }

  .featured-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 50px;
  }

  .product {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
  }

  .product img {
    max-width: 100%;
  }

  .about-us {
    padding: 50px;
  }

  .team-member {
    text-align: center;
    margin: 20px;
  }

  .contact-section {
    padding: 50px;
    text-align: center;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  footer a {
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
  }