*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
/***** CLEARFIX *****/
.clearfix{
  zoom: 1;
}
.clearfix:after{
  content: "";
  display: table;
  clear: both;
  visibility: hidden;
}

body{
  font-size: 16px;
}
  header {
    background-color: #087230;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  .logo img{
    width: 30px;
    height: 40px;
    border:1px solid #087230;
    border-radius: 50%;
  }

  .header-nav {
    text-align: right;
    margin-left: 35%;
    font-size: 18px;
  }

  .header-nav a {
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
  }
  nav a:hover{
    color: yellow;
  }

  .banner {
    background-image: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.4)),url(./images/nkpeek.jpg);
    text-align: center;
    height: 100vh;
    background-size: cover;
    position: relative;
  }
  .banner-heading{
    text-align: center;
    color:rgb(255, 255, 255);
    padding-top: 20px;
    font-size: 20px;
    position: relative;
  }
  .about-me {
    padding: 20px;
    align-items: center;
    text-align: center;
  }
  .featured-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding-top: 10px;
  }
.services{
  background: black;
  margin: auto;
  padding: 15px;
}
  .product {
    text-align: center;
    padding: 20px;
    background-color: #d8caca;
    border-radius: 20px;
    transition: all 0.5s;
  }
  .product:hover{
   background: transparent;
   color: #d8caca;
   border: 1px solid #d8caca;
  transform: scale(1.05);
  }
  .section-heading{
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
  }

  .product img {
    max-width: 100%;
  }
.ccimage {
width: 58%;
}
.wdimage{
  width: 80%;
}
.btn{
  text-decoration: none;
  color: blue;
  background: none;
  border: 1px solid blue;
  margin: 10px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 30px;
  padding: 10px 15px 10px 15px;
  transition: all .2s;
}
.btn:hover{
  color: #fff;
  background: blue;
  transform: scale(1.2);
}

  .contact-section {
    padding: 20px;
    text-align: center;
  }
  form{
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  input, textarea {
    width: 50%;
    padding: 15px;
    border-radius: 10px;
    background: transparent;
    border: 2px solid #d8caca;
    resize: none;
  }
  .submit-btn{
    background: blue;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    border: hidden;
    width: 20%;
  }
  .submit-btn:hover{
    background: transparent;
    border: 1px solid blue;
    color: blue;
  }

  footer{
    background-color: #333;
    padding: 50px;
    color: #888;
}
.footer-nav{
    text-align: center;
    float: left;
    
}
.footer-nav a{
  text-decoration: none;
  color: #888;
  font-size: 14px;
}
footer p{
  text-align: center;
  font-size: 12px;margin-left: 20px;
}
.social-links{
    float: right;
    font-size: 11px;
}
.footer-nav li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}
.footer-nav li a:link, .footer-nav li a:visited{
    color: #888;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.footer-nav li a:hover, .footer-nav li a:active{
    color: #fff;
}
.social-links li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}
.social-links li a:link, .social-links li a:visited{
    color: #888;
    text-decoration: none;
    font-size: 200%
}
.fa-facebook,.fa-github,.fa-instagram,.fa-twitter,.fa-youtube{
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.fa-facebook:hover{
   color: #3b5998;
}
.fa-twitter:hover{
   color: #55acee; 
}
.fa-instagram:hover{
    color: #3f729b;
}
.fa-youtube:hover{
    color: 	#cd201f;
}
.fa-github:hover{
    color: #00405d;
}
/*** MEDIA QUERIRS ***/

/* mobile phones*/
@media only screen and (max-width:479px)
  {
    .header-nav {
    font-size: 11px;
    margin-left: 20px;
  }
  .logo img{
    width: 30px;
    height: 30px;
  }
  .banner {
    text-align: center;
    height: 50vh;
  }
  .banner-heading{
    text-align: center;
    align-items: center;
    justify-content: center;
    color:rgb(255, 255, 255);
    padding-top: 20px;
    font-size: 20px;
    position: absolute;
    margin-top: 170px;
    margin-left: 50px;
  }
  .featured-products {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
  }
.services{
  background: black;
  margin: auto;
  padding: 15px;
}
  .product {
    text-align: center;
    padding: 10px;
    background-color: #d8caca;
    border-radius: 20px;
    transition: all 0.5s;
  }
  .section-heading{
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
  }

  .product img {
    max-width: 80%;
  }
    .contact-section {
      padding: 20px;
      text-align: center;
    }
    .contact-section h2{
      margin: 15px;
    }
    form{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    input, textarea {
      width: 100%;
      padding: 15px;
      border-radius: 10px;
      border: 1px solid #d8caca;
    }
    .submit-btn{
      background: blue;
      color: #fff;
      padding: 8px;
      border-radius: 15px;
      border: hidden;
      width: 30%;
    }
    .footer-nav, .social-links{
        float: none;
        text-align: center;
        margin-bottom: 10px;
    }
    .work-portfolio li{
        width: 50%;
    }
  }