*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
body{
  font-size: 16px;
}
  header {
    background-color: #087230;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  .logo img{
    width: 50px;
    height: 50px;
    border:1px solid #087230;
    border-radius: 50%;
  }

  nav {
    text-align: right;
    margin-left: 35%;
    font-size: 18px;
  }

  nav a {
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
  }
  nav a:hover{
    color: yellow;
  }

  .banner {
    background-image: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.4)),url(./images/nkpeek.jpg);
    text-align: center;
    height: 100vh;
    background-size: cover;
    position: relative;
  }
  .banner-heading{
    text-align: center;
    color:rgb(255, 255, 255);
    padding-top: 20px;
    font-size: 20px;
    position: relative;
  }
    .banner p{
    text-align: center;
    font-weight: bolder ;
    font-size: 16px;
    color: blue;
    text-transform: uppercase ;
  }

  .featured-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding-top: 10px;
  }
.services{
  background: black;
  margin: auto;
  padding: 15px;
}
  .product {
    text-align: center;
    padding: 20px;
    background-color: #d8caca;
    border-radius: 20px;
    transition: all 0.5s;
  }
  .product:hover{
   background: transparent;
   color: #d8caca;
   border: 1px solid #d8caca;
  transform: scale(1.05);
  }
  .section-heading{
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
  }

  .product img {
    max-width: 100%;
  }
.ccimage {
width: 58%;
}
.wdimage{
  width: 80%;
}
.btn{
  text-decoration: none;
  color: blue;
  background: none;
  border: 1px solid blue;
  margin: 10px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 30px;
  padding: 10px 15px 10px 15px;
  transition: all .2s;
}
.btn:hover{
  color: #fff;
  background: blue;
  transform: scale(1.2);
}
  .about-us {
    padding: 20px;
    align-items: center;
    text-align: center;
  }

  .team-member {
    text-align: center;
    margin: 20px;
  }

  .contact-section {
    padding: 50px;
    text-align: center;
  }
  .submit-btn{
    background: blue;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    border: hidden;
  }
  .submit-btn:hover{
    background: transparent;
    border: 1px solid blue;
    color: blue;
  }

  footer {
    background-color: #333;
    color: #8a8787;
    padding: 20px;
    text-align: center;
  }

  footer a {
    color: #838080;
    margin-left: 10px;
    text-decoration: none;
  }